@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* carousel */
.User_ReviewCarousel {
    height: 90vh;
    margin-top: -50px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.User_ReviewList .User_ReviewItem {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.User_ReviewList .User_ReviewItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.User_ReviewList .User_ReviewItem .User_ReviewContent {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 45%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.User_ReviewList .User_ReviewItem {
    display: none; /* Hide all reviews */
  }
  
  .User_ReviewList .User_ReviewItem.active {
    display: block; /* Only show the active review */
  }
  
.User_ReviewList .User_ReviewItem .User_ReviewAuthor {
    font-weight: bold;
    letter-spacing: 10px;
}
.User_ReviewList .User_ReviewItem .User_ReviewTitle,
.User_ReviewList .User_ReviewItem .User_ReviewTopic {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.User_ReviewList .User_ReviewItem .User_ReviewTopic {
    color: #f1683a;
}
.User_ReviewList .User_ReviewItem .User_ReviewButtons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.User_ReviewList .User_ReviewItem .User_ReviewButtons button {
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}
.User_ReviewList .User_ReviewItem .User_ReviewButtons button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}
/* thumbnail */
.User_ReviewThumbnail {
    position: absolute;
    bottom:10%;
    left: 55%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.User_ReviewThumbnail .User_ReviewItem {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.User_ReviewThumbnail .User_ReviewItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.User_ReviewThumbnail .User_ReviewItem .User_ReviewContent {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.User_ReviewThumbnail .User_ReviewItem .User_ReviewContent .User_ReviewTitle {
    font-weight: 500;
}
.User_ReviewThumbnail .User_ReviewItem .User_ReviewContent .User_ReviewDescription {
    font-weight: 300;
}
/* arrows */
.User_ReviewArrows {
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.User_ReviewArrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.User_ReviewArrows button:hover {
    background-color: #fff;
    color: #000;
}

/* animation */
.User_ReviewList .User_ReviewItem:nth-child(1) {
    z-index: 1;
}

/* animation text in first item */
.User_ReviewList .User_ReviewItem:nth-child(1) .User_ReviewContent .User_ReviewAuthor,
.User_ReviewList .User_ReviewItem:nth-child(1) .User_ReviewContent .User_ReviewTitle,
.User_ReviewList .User_ReviewItem:nth-child(1) .User_ReviewContent .User_ReviewTopic,
.User_ReviewList .User_ReviewItem:nth-child(1) .User_ReviewContent .User_ReviewDes,
.User_ReviewList .User_ReviewItem:nth-child(1) .User_ReviewContent .User_ReviewButtons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.User_ReviewList .User_ReviewItem:nth-child(1) .User_ReviewContent .User_ReviewTitle {
    animation-delay: 1.2s !important;
}
.User_ReviewList .User_ReviewItem:nth-child(1) .User_ReviewContent .User_ReviewTopic {
    animation-delay: 1.4s !important;
}
.User_ReviewList .User_ReviewItem:nth-child(1) .User_ReviewContent .User_ReviewDes {
    animation-delay: 1.6s !important;
}
.User_ReviewList .User_ReviewItem:nth-child(1) .User_ReviewContent .User_ReviewButtons {
    animation-delay: 1.8s !important;
}

/* create animation when next click */
.User_ReviewList .User_ReviewItem:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.User_Review.next .User_ReviewThumbnail .User_ReviewItem:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.User_Review.prev .User_ReviewList .User_ReviewItem img {
    z-index: 100;
}
@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}
.User_Review.next .User_ReviewThumbnail {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

/* running time */
.User_ReviewTime {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.User_Review.next .User_ReviewTime,
.User_Review.prev .User_ReviewTime {
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime {
    from { width: 100% }
    to { width: 0 }
}

/* prev click */
.User_Review.prev .User_ReviewList .User_ReviewItem:nth-child(2) {
    z-index: 2;
}

.User_Review.prev .User_ReviewList .User_ReviewItem:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.User_Review.prev .User_ReviewThumbnail .User_ReviewItem:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.User_Review.next .User_ReviewArrows button,
.User_Review.prev .User_ReviewArrows button {
    pointer-events: none;
}
.User_Review.prev .User_ReviewList .User_ReviewItem:nth-child(2) .User_ReviewContent .User_ReviewAuthor,
.User_Review.prev .User_ReviewList .User_ReviewItem:nth-child(2) .User_ReviewContent .User_ReviewTitle,
.User_Review.prev .User_ReviewList .User_ReviewItem:nth-child(2) .User_ReviewContent .User_ReviewTopic,
.User_Review.prev .User_ReviewList .User_ReviewItem:nth-child(2) .User_ReviewContent .User_ReviewDes,
.User_Review.prev .User_ReviewList .User_ReviewItem:nth-child(2) .User_ReviewContent .User_ReviewButtons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s linear 1 forwards;
}

/* next click */
.User_Review.next .User_ReviewList .User_ReviewItem:nth-child(2) {
    z-index: 2;
}

.User_Review.next .User_ReviewList .User_ReviewItem:nth-child(2) img {
    animation: outFrameNext 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrameNext {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}
.User_Review.next .User_ReviewThumbnail .User_ReviewItem:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.User_Review.next .User_ReviewArrows button,
.User_Review.prev .User_ReviewArrows button {
    pointer-events: none;
}
.User_Review.next .User_ReviewList .User_ReviewItem:nth-child(2) .User_ReviewContent .User_ReviewAuthor,
.User_Review.next .User_ReviewList .User_ReviewItem:nth-child(2) .User_ReviewContent .User_ReviewTitle,
.User_Review.next .User_ReviewList .User_ReviewItem:nth-child(2) .User_ReviewContent .User_ReviewTopic,
.User_Review.next .User_ReviewList .User_ReviewItem:nth-child(2) .User_ReviewContent .User_ReviewDes,
.User_Review.next .User_ReviewList .User_ReviewItem:nth-child(2) .User_ReviewContent .User_ReviewButtons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s linear 1 forwards;
}

/* media queries */
@media (max-width: 768px) {
    .User_ReviewCarousel {
        height: 50vh;
    }
    .User_ReviewList .User_ReviewItem .User_ReviewContent {
        padding-right: 0;
        max-width: 100%;
    }
    .User_ReviewList .User_ReviewItem .User_ReviewTitle,
    .User_ReviewList .User_ReviewItem .User_ReviewTopic {
        font-size: 3em;
    }
    .User_ReviewList .User_ReviewItem .User_ReviewAuthor {
        font-size: 1.5em;
    }
    .User_ReviewArrows {
        top: 60%;
        right: 40%;
    }
    .User_ReviewArrows button {
        width: 30px;
        height: 30px;
    }
}
