.tourist-slider {
  position: relative;
  width: 80%;
  margin: 0 auto;

  
}
.explore-places{
  padding-top: 5%;
border-bottom: #a7a3a3 1px solid ;
  padding-bottom: 1%;

 
}
.explorer-body-heading{
  font-weight: bold;
  display: flex;
  
  padding: 0 0 5% 8%;
}

.tphhh{
font-weight: bold;
font-size: 25px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.card12 {

  width: 50%;
 
  border-radius: 8px;

}

.card-body12 {
 
  height: 300px;
  padding: 20px;
}

.image-placeholder12 {
  height: 150px;
  margin-bottom: 15px;

  border-radius: 8px;
  overflow: hidden; /* Ensure the image fits within the div */
}

.image-in{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card12 h3 {
  margin-bottom: 0;
  font-size: 1.5em;
}

.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #dcdbdb;
  color: #03001b;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}

.prev-button {
  left: -60px;
}

.next-button {
  right: -50px;
}

.prev-button:hover, .next-button:hover {
  background-color: #0056b3;
}

.prev-button:focus, .next-button:focus {
  outline: none;
}
.toggle-button {
 
  width: 40px;
  height: 40px;
 
  color: #363636;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}